<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/rooms.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <select name="room">
      <option value="room1">room 1</option>      
      <option value="room2">room 2</option>      
    </select>

    <button id="join">加入聊天室</button>
    <button id="leave">离开聊天室</button>

    <input type="text" id="message"  style="" placeholder="enter message">
    <div class="message">
    	<ol></ol>
    </div>
  </body>
</html>
